<div class="container mt-5 d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Congratulations! You have booked <%= @booking.surfboard.name %></h5>
      <% if @booking.surfboard.photo.attached? %>
        <div class="text-center">
          <%= cl_image_tag @booking.surfboard.photo.key, class: "img-fluid rounded", style: "width: 300px; height: 400px; object-fit: contain;" %>
        </div>
      <% else %>
        <div class="text-center">
          <img src="<%= @booking.surfboard.image_url %>" alt="<%= @booking.surfboard.name %> image" class="img-fluid rounded" style="width: 300px; height: 400px; object-fit: contain;">
        </div>
      <% end %>

      <p class="card-text"><strong>Price:</strong> $<%= @booking.surfboard.price %></p>
      <p class="card-text"><strong>Color:</strong> <%= @booking.surfboard.color %></p>
      <p class="card-text"><strong>Size:</strong> <%= @booking.surfboard.size %></p>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to booking_path(@booking),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "btn-surfboard btn-sm" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= link_to "See All Your Bookings", bookings_path, class: "btn-surfboard btn-sm" %>
      </div>
    </div>
  </div>
</div>
