<div class="container">
  <h1>Add your very own Surfboard</h1>
  <%= simple_form_for(@surfboard) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :color %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
<div>
