<div class="container mt-4">
  <img src="<%= @surfboard.image_url %>" alt="<%= @surfboard.name %> image" width="200">
  <div class="card-trip-infos">
    <div>
      <h1><%= @surfboard.name %></h1>
      <p><strong>Description:</strong> <%= @surfboard.description %></p>
      <p><strong>Price:</strong> $<%= @surfboard.price %></p>
      <p><strong>Color:</strong> <%= @surfboard.color %></p>
      <p><strong>Size:</strong> <%= @surfboard.size %></p>
      <p><strong>Owner name:</strong> <%= @surfboard.user.first_name %> <%= @surfboard.user.last_name %></p>
      <%= link_to "Book this Surfboard", new_surfboard_booking_path(@surfboard), class:"btn btn-primary" %>
      <%= link_to "Delete Surfboard", surfboard_path(@surfboard),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger"%>
    </div>
  </div>
</div>
