<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <% if @surfboard.photo.attached? %>
        <%= cl_image_tag @surfboard.photo.key, class: "img-fluid rounded", style: "width: 300px; height: 400px; object-fit: cover;" %>
      <% else %>
        <img src="<%= @surfboard.image_url %>" alt="<%= @surfboard.name %> image" class="img-fluid rounded" style="width: 300px; height: 400px; object-fit: cover;">
      <% end %>
    </div>

    <div class="col-md-4">
      <div>
        <h1 class="mb-1"><%= @surfboard.name %></h1>
        <p><strong>Description:</strong> <%= @surfboard.description %></p>
        <p><strong>Price:</strong> $<%= @surfboard.price %>/day</p>
        <p><strong>Color:</strong> <%= @surfboard.color %></p>
        <p><strong>Size:</strong> <%= @surfboard.size %></p>
        <p><strong>Owner:</strong> <%= @surfboard.user.first_name %> <%= @surfboard.user.last_name %></p>
        <% if @surfboard.address.present? %>
          <p><strong>Address:</strong> <%= @surfboard.address %></p>
        <% end %>

        <div class="d-flex align-items-center mb-1">
          <%= link_to "Book this Surfboard", new_surfboard_booking_path(@surfboard), class: "btn-surfboard btn-lg" %>
        </div>

        <div class="d-flex align-items-center mb-1">
          <% if current_user.favorites.find_by(surfboard: @surfboard).nil? %>
            <%= simple_form_for [@surfboard, @favorite] do |f| %>
              <%= f.submit "⭐Add to Favorites", class: "btn-surfboard" %>
            <% end %>
          <% else %>
            <%= simple_form_for [@surfboard, @favorite] do |f| %>
              <%= f.submit "⭐ Added to Favorites", class: "btn-surfboard", disabled: true %>
            <% end %>
          <% end %>
        </div>

        <% if @surfboard.user == current_user %>
          <%= link_to surfboard_path(@surfboard), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-surfboard mt-2" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mt-4" style="width: 100%; height: 300px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Reviews</h3>
      <% @surfboard.reviews.each do |review| %>
        <div class="review mb-3">
          <p><%= review.comment %></p>
          <p>Rating: <%= review.rating %><%= '⭐' * review.rating %></p>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <h3>Add a new Review</h3>
      <%= simple_form_for [@surfboard, @review] do |f| %>
        <%= f.input :comment, label: "Review", input_html: { class: "form-control" } %>
        <%= f.input :rating, collection: 1..5, label: "Rating", input_html: { class: "form-control" } %>
        <%= f.submit "Submit Review", class: "btn-surfboard mt-2" %>
      <% end %>
    </div>
  </div>
</div>
