<div class="container mt-4">
  <% if @surfboard.photo.attached? %>
    <%= cl_image_tag @surfboard.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="<%= @surfboard.image_url %>" alt="<%= @surfboard.name %> image" width="200">
  <% end %>
  <div class="card-surfboard-infos">
    <div>
      <h1><%= @surfboard.name %></h1>
      <p><strong>Description:</strong> <%= @surfboard.description %></p>
      <p><strong>Price:</strong> $<%= @surfboard.price %></p>
      <p><strong>Color:</strong> <%= @surfboard.color %></p>
      <p><strong>Size:</strong> <%= @surfboard.size %></p>
      <p><strong>Owner name:</strong> <%= @surfboard.user.first_name %> <%= @surfboard.user.last_name %></p>
      <%= link_to "Book this Surfboard", new_surfboard_booking_path(@surfboard), class:"btn btn-primary" %>
      <%= link_to surfboards_path, class: "nav-link" do %>
            <i class="fa-solid fa-star"></i>
            <% end  %>
      <% if @surfboard.user == current_user %>
        <%= link_to surfboard_path(@surfboard),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<br>
  <div>
  <h3>Add a new Review</h3>
  <%= simple_form_for [@surfboard, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>
<br>
  <h3>Reviews</h3>
  <% @surfboard.reviews.each do |review| %>
    <p><%= review.comment %></p>
    <p>Rating: <%= review.rating %><%= 'â­'* review.rating %></p>
    <p>------------------------</p>
  <% end %>
</div>

</div>
